// Colors
$hard-grey: #777;
$soft-grey: #ccc;
$light-grey: #eee;

* {
	-webkit-tap-highlight-color: transparent;
	outline: 0;
}
::selection {
	background: #ffa;
}
:root {
	font-family: $pt-sans;
	font-size: $base-font-size;
	line-height: $base-line-height;
	min-width: 320px;
}

@viewport {
    width: device-width;
}

figure, ul {
    margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
a {
	color: #000;
	text-decoration: none;
}
svg {
    display: block;
}
