<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/css/styles.css" media="screen" charset="utf-8" />
</head>
<body class="page">
    <header class="page-header">
        header
    </header>
    {% block content %}{% endblock %}
    {% include "../blocks/page-footer/page-footer.twig" %}
</body>
</html>
