.page-header {
    height: 4rem;

    @include make-row();

    @include media-breakpoint-up(sm) {
        height: 5rem;
    }

    &__logo {
        align-items: center;
        display: flex;

        @include make-col-ready();
        @include make-col(4);
        @include media-breakpoint-up(lg) {
            @include make-col-push(1);
        }
    }

    &__logo-inner {
        max-width: 100%;
    }

    &__hamburger {
        //
    }
}
