header.page-header
    .page-header__logo
        svg.icon.page-header__logo-inner(style="fill: #000", width="120", height="48", viewBox="0 0 120 48")
            use(mlns:xlink="http://www.w3.org/1999/xlink", xlink:href="/images/icons.svg#kink")
