{% extends "../layouts/layout.twig" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<main class="page-main">
    <div class="products-list">
        {% for i in 1..20 %}
        <figure class="product-card products-list__item">
            <img class="product-card__image" src="//www.kinkstore.ru/images/shop/large/8010_nike-air-huarache-wmns.jpg" />
            <figcaption class="product-card__text">Кроссовки женские Nike Air</figcaption>
            <div class="product-card__text">
                <span class="note note--stroked note--inactive">5 990 ₽</span>
                5 490 ₽
            </div>
        </figure>
        {% endfor %}
    </div>
</main>
{% endblock %}
