extends ../layouts/base.pug

block title
    | Главная страница

block content
    main.page-main
        figure.promo
            picture
                source(media="(min-width: 992px)", srcset="/images/promo/affex/1920.jpg")
                img.promo__image(srcset="/images/promo/affex/1534.jpg 2x", src="/images/promo/affex/767.jpg", alt="")
        .products-list
            - for (var i = 0; i < 20; i++)
                figure.product-card.products-list__item
                    img.product-card__image(src="//www.kinkstore.ru/images/shop/large/8010_nike-air-huarache-wmns.jpg")
                    figcaption.product-card__text Кроссовки женские Nike Air
                        .product-card__text
                            .note.note--stroked.note--inactive 5 990 ₽
                            | 5 490 ₽
