$enable-flex: true;

@import './node_modules/bootstrap/scss/bootstrap.scss';
@import 'fonts';

.products-list {
    @include make-row();

    &__item {
        @include make-col-ready();

        @include media-breakpoint-up(xs) {
            @include make-col(6);
        }

        @include media-breakpoint-up(sm) {
            @include make-col(4);
        }

        @include media-breakpoint-up(lg) {
            @include make-col(3);
        }
    }
}

.product-card {
    &__image {
        max-width: 100%;
    }

    &__text {
        font-family: $sans;
        font-size: 16px;
        line-height: 1.25;
        text-align: center;

        @include media-breakpoint-up(md) {
            font-size: 18px;
        }
    }
}

.note {
    &--stroked {
        text-decoration: line-through;
    }

    &--inactive {
        color: #999;
    }
}
