doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title KINK store — Главная страница
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
        link(rel="stylesheet", href="/styles/styles.css", media="screen", charset="utf-8")
    body
        div(style="height: 0; width: 0; position: absolute; visibility: hidden")
            | <!-- inject:svg --><!-- endinject -->
        .wrapper
            header.header
                .header__inner
                    .header__logo
                        svg.icon(width="120", height="48", viewbox="0 0 120 48")
                            use(xlink:href="#kink")
                    .header__hamburger
                        .hamburger.hamburger--spin.js-menu-catalog-toggle
                            span.hamburger-box
                                span.hamburger-inner
                .header__menu-black
                    .menu-black
                        ul.menu-black__inner
                            li.menu-black__item
                                a.menu-black__link.js-menu-catalog-toggle(href="#") Каталог
                                ul.menu-catalog
                                    li.menu-catalog__section
                                        a.menu-catalog__section-link(href="#") Новые товары
                                    li.menu-catalog__section
                                        a.menu-catalog__section-link(href="#") Товары со скидкой
                                    li.menu-catalog__section
                                        .menu-catalog__section-title Обувь
                                        ul.menu-catalog__categories
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Кеды
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Кроссовки
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Женская
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Детская обувь
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Зимняя
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Уход за обувью
                                    li.menu-catalog__section
                                        .menu-catalog__section-title Одежда
                                        ul.menu-catalog__categories
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Джинсы
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Кепки
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Куртки
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Футболки
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Шапки
                                    li.menu-catalog__section
                                        .menu-catalog__section-title Аксессуары
                                        ul.menu-catalog__categories
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Рюкзаки
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Очки
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Шнурки
                                            li.menu-catalog__category
                                    li.menu-catalog__section
                                        .menu-catalog__section-title Бренды
                                        ul.menu-catalog__categories
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") adidas Originals
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Affex
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Air Jordan
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Anteater
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") ASICS
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Carhartt WIP
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Converse
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Nike
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Saucony
                                            li.menu-catalog__category
                                                a.menu-catalog__link(href="#") Vans
                            li.menu-black__item
                                a.menu-black__link(href="#") Sale
                            li.menu-black__item
                                a.menu-black__link(href="#") Блог
                            li.menu-black__item
                                a.menu-black__link(href="#") Магазин
                            li.menu-black__item
                                a.menu-black__link(href="#") Информация
                            li.menu-black__item
                                a.menu-black__link(href="#") Контакты
            main.content
                section.content__slider
                    .slider.swiper-container
                        .slider__inner.swiper-wrapper
                            figure.slider__slide.swiper-slide
                                picture
                                    source(media="(min-width: 500px)", srcset="/images/slider/3spring_1500.jpg")
                                    img.slider__image(src="/images/slider/3spring_500.jpg")
                            figure.slider__slide.swiper-slide
                                picture
                                    source(media="(min-width: 500px)", srcset="/images/slider/1lookbook_1500.jpg")
                                    img.slider__image(src="/images/slider/1lookbook_500.jpg")
                            figure.slider__slide.swiper-slide
                                picture
                                    source(media="(min-width: 500px)", srcset="/images/slider/2adidas_1500.jpg")
                                    img.slider__image(src="/images/slider/2adidas_500.jpg")
                        .slider__pagination.swiper-pagination
                section.content__blog-preview
                    .blog-preview
                        ul.blog-preview__inner
                            li.blog-preview__item
                                a.promo(href="#")
                                    img.promo__image(src="/images/blog/blog1.jpg")
                            li.blog-preview__item
                                a.promo(href="#")
                                    img.promo__image(src="/images/blog/blog2.jpg")
                            li.blog-preview__item
                                a.promo(href="#")
                                    img.promo__image(src="/images/blog/blog3.jpg")
                section.content__multicategories
                    .multicategories
                        ul.multicategories__inner
                            li.multicategories__item
                                a.promo(href="#")
                                    img.promo__image(src="/images/promo/breathabale.jpg")
                            li.multicategories__item
                                a.promo(href="#")
                                    img.promo__image(src="/images/promo/colored.jpg")
                            li.multicategories__item
                                a.promo(href="#")
                                    img.promo__image(src="/images/promo/classic.jpg")
                            li.multicategories__item
                                a.promo(href="#")
                                    img.promo__image(src="/images/promo/air-force.jpg")
                            li.multicategories__item
                                a.promo(href="#")
                                    img.promo__image(src="/images/promo/huarache.jpg")
                            li.multicategories__item
                                a.promo(href="#")
                                    img.promo__image(src="/images/promo/roshe.jpg")
                            li.multicategories__item
                                a.promo(href="#")
                                    img.promo__image(src="/images/promo/skateboarding.jpg")
                            li.multicategories__item
                                a.promo(href="#")
                                    img.promo__image(src="/images/promo/white.jpg")
                section.content__products
                    ul.products
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/5547_wmns-nike-rosherun-br.jpg")
                                .product__title Кеды Nike Rosherun
                                span.product__old-price 5 990 ₽
                                span.product__price 5 490 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/5884_saucony-jazz.jpg")
                                .product__title Кроссовки Saucony Jazz
                                span.product__price 4 490 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/5893_saucony-jazz.jpg")
                                .product__title Кроссовки Saucony Jazz
                                span.product__price 4 490 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/5929_saucony-jazz.jpg")
                                .product__title Кроссовки Saucony Jazz
                                span.product__price 4 490 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/6216_nike-wmns-air-force-premium.jpg")
                                .product__title Кеды женские Nike Air Force Premium
                                span.product__old-price 6 990 ₽
                                span.product__price 6 490 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/6240_nike-wmns-air-force.jpg")
                                .product__title Кеды женские Nike Air Force
                                span.product__old-price 5 990 ₽
                                span.product__price 5 490 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/6358_nike-sb-trainerendor.jpg")
                                .product__title Кроссовки Nike SB Trainerendor
                                span.product__old-price 5 990 ₽
                                span.product__price 4 990 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/5547_wmns-nike-rosherun-br.jpg")
                                .product__title Кроссовки женские Nike Air Huarache Ultra
                                span.product__old-price 5 990 ₽
                                span.product__price 5 490 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/5547_wmns-nike-rosherun-br.jpg")
                                .product__title Кроссовки Air Jordan Flight Flex Trainer 2
                                span.product__old-price 5 990 ₽
                                span.product__price 5 490 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/5547_wmns-nike-rosherun-br.jpg")
                                .product__title Кеды Nike Rosherun
                                span.product__old-price 5 990 ₽
                                span.product__price 5 490 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/5547_wmns-nike-rosherun-br.jpg")
                                .product__title Кеды Nike Rosherun
                                span.product__old-price 5 990 ₽
                                span.product__price 5 490 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/5547_wmns-nike-rosherun-br.jpg")
                                .product__title Кеды Nike Rosherun
                                span.product__old-price 5 990 ₽
                                span.product__price 5 490 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/5547_wmns-nike-rosherun-br.jpg")
                                .product__title Кеды Nike Rosherun
                                span.product__old-price 5 990 ₽
                                span.product__price 5 490 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/5547_wmns-nike-rosherun-br.jpg")
                                .product__title Кеды Nike Rosherun
                                span.product__old-price 5 990 ₽
                                span.product__price 5 490 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/5547_wmns-nike-rosherun-br.jpg")
                                .product__title Кеды Nike Rosherun
                                span.product__old-price 5 990 ₽
                                span.product__price 5 490 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/5547_wmns-nike-rosherun-br.jpg")
                                .product__title Кеды Nike Rosherun
                                span.product__old-price 5 990 ₽
                                span.product__price 5 490 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/5547_wmns-nike-rosherun-br.jpg")
                                .product__title Кеды Nike Rosherun
                                span.product__old-price 5 990 ₽
                                span.product__price 5 490 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/5547_wmns-nike-rosherun-br.jpg")
                                .product__title Кеды Nike Rosherun
                                span.product__old-price 5 990 ₽
                                span.product__price 5 490 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/5547_wmns-nike-rosherun-br.jpg")
                                .product__title Кеды Nike Rosherun
                                span.product__old-price 5 990 ₽
                                span.product__price 5 490 ₽
                        li.products__item
                            a.product(href="#")
                                img.product__image(src="/images/products/5547_wmns-nike-rosherun-br.jpg")
                                .product__title Кеды Nike Rosherun
                                span.product__old-price 5 990 ₽
                                span.product__price 5 490 ₽
        footer.footer
            .footer__inner
                .footer__section
                    ul.footer__list
                        li.footer__list-item
                            a.footer__link(href="#") Каталог
                        li.footer__list-item
                            a.footer__link(href="#") Блог
                        li.footer__list-item
                            a.footer__link(href="#") Магазин
                        li.footer__list-item
                            a.footer__link(href="#") Информация
                        li.footer__list-item
                            a.footer__link(href="#") Контакты
                    .footer__nike
                        svg.icon.icon--gray(width="200", height="37", viewBox="0 0 150 28")
                            use(xlink:href="#nike-online-partner")
                .footer__section
                    ul.footer__list
                        li.footer__list-item
                            a.footer__link(href="#") Доставка и оплата
                        li.footer__list-item
                            a.footer__link(href="#") Обмен и возврат
                        li.footer__list-item
                            a.footer__link(href="#") Подлинность товаров
                        li.footer__list-item
                            a.footer__link(href="#") Скидки
                        li.footer__list-item
                            a.footer__link(href="#") Материалы и уход за ними
                        li.footer__list-item
                            a.footer__link(href="#") Размерная сетка
                        li.footer__list-item
                            a.footer__link(href="#") Реквизиты
                        li.footer__list-item
                            a.footer__link(href="#") Вакансии
                        li.footer__list-item
                .footer__section
                    ul.footer__list
                        li.footer__list-item
                            a.footer__link(href="#") Вконтакте
                        li.footer__list-item
                            a.footer__link(href="#") Vimeo
                        li.footer__list-item
                            a.footer__link(href="#") Instagram
                        li.footer__list-item
                    br
                    a.footer__link(href="#") Скачать логотип
                .footer__section
                    | Нижний Новгород
                    br
                    | Большая Покровская, 68
                    br
                    a.footer__link(href="tel:+78314303927") +7 (831) 430-39-27
                .footer__section
                    | www.kinkstore.ru
                    br
                    | Основан в 2010 году
                .footer__section
        script(src="/js/app.js")
