.footer {
    background: black;
    color: white;
    padding-bottom: 2rem;
    @include container;

    &__inner {
        @include span(full);

        @include breakpoint($quarter-medium) {
            @include span(10);
            @include isolate(2);
        }

        @include breakpoint($huge) {
            @include span(8);
            @include isolate(3);
        }
    }

    &__section {
        font-size: 1.25rem;
        padding-top: 2rem;
        @include span(full);

        @include breakpoint($half-medium) {
            border-top: 1px solid white;
            margin-top: 2rem;

            &:nth-child(1),
            &:nth-child(2) {
                border-top: none;
                margin-top: 0;
            }
        }

        @include breakpoint($half-medium $medium) {
            @include span(6);

            &:nth-child(2n) {
                @include last();
            }

            &:nth-child(2n+1) {
                clear: both;
            }
        }

        @include breakpoint($medium) {
            @include span(4 of 12);

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                border-top: none;
                margin-top: 0;
            }

            &:nth-child(3n) {
                @include last();
            }

            &:nth-child(3n+1) {
                clear: both;
            }
        }
    }

    &__link {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        color: white;

        &:hover {
            border-bottom-color: transparent;
        }
    }

    &__nike {
        margin-top: 2rem;
        width: 200px;

        @include breakpoint($half-medium) {
            margin-top: 3.5rem;
        }
    }
}
