.products {
    @include container();
    font-size: 0;

    &__item {
        display: inline-block;
        float: none;
        padding: 0 0.5rem;
        vertical-align: top;
        width: span(6);

        @include breakpoint($half-medium) {
            width: span(4);
        }

        @include breakpoint($medium) {
            padding: 0 1rem;
            width: span(3);
        }

        @include breakpoint($large) {
            width: span(1 of 5);
        }
    }
}
