.products {
    @include container();
    font-size: 0;

    @include breakpoint($half-medium) {
        padding: 0 2*gutter();
    }

    &__item {
        display: inline-block;
        float: none;
        padding: 0 gutter();
        vertical-align: top;
        width: span(6);

        @include breakpoint($half-medium) {
            padding: 0 1.5*gutter();
            width: span(4);
        }

        @include breakpoint($half-medium $medium) {
            &:nth-last-child(1),
            &:nth-last-child(2) {
                display: none;
            }
        }

        @include breakpoint($medium) {
            padding: 0 2*gutter();
            width: span(3);
        }

        @include breakpoint($large) {
            width: span(1 of 5);
        }
    }
}
