.slider {
	position: relative;
    overflow: hidden;

	&__slide {
		height: auto;
		overflow: hidden;
		position: relative;
	}

	&__image {
        display: block;
		height: 100vw;
		width: 100vw;
		z-index: 1;

		@include breakpoint(500px) {
    		display: block;
    		height: 500px;
    		left: 50%;
    		margin-left: -750px;
            position: relative;
    		width: 1500px;
    		z-index: 1;
		}
	}

	&__container {
		display: flex;
		height: 320px;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 2;

		@include breakpoint($medium) {
			height: 100%;
		}
	}

	&__content {
		font-family: $PtSansNarrow;
		font-size: 2rem;
		font-weight: bold;
		margin: auto;

		@include breakpoint($medium) {
			font-size: 2.5rem;
		}

		@include breakpoint($large) {
			font-size: 3rem;
		}

		@include breakpoint($huge) {
			font-size: 3.5rem;
		}

		&--black {
			background-color: rgba(0, 0, 0, 0.6);
			color: #fff;
			padding: 0px 3rem;
		}
	}

    &__pagination {
        bottom: 5px !important;

        .swiper-pagination-bullet {
            background: #fff;
            opacity: 1;
            margin: 2px 6px !important;
        }

        .swiper-pagination-bullet-active {
            background: none;
            border: 2px solid #fff;
            height: 12px;
            margin: 0 4px !important;
            width: 12px;
        }
    }
}
