footer.page-footer
    .page-footer__sections
        .page-footer__section.footer-section
            .footer-section__list
                .footer-section__item
                    a.footer-section__link Каталог
                .footer-section__item
                    a.footer-section__link Блог
                .footer-section__item
                    a.footer-section__link Магазин
                .footer-section__item
                    a.footer-section__link Информация
                .footer-section__item
                    a.footer-section__link Контакты
            svg.icon.footer-section__nike-partner(style="fill: #fff", width="200", height="37", viewBox="0 0 150 28")
                use(mlns:xlink="http://www.w3.org/1999/xlink", xlink:href="/images/icons.svg#nike-online-partner")
        .page-footer__section.footer-section
            .footer-section__list
                .footer-section__item
                    a.footer-section__link Доставка и оплата
                .footer-section__item
                    a.footer-section__link Обмен и возврат
                .footer-section__item
                    a.footer-section__link Подлинность товаров
                .footer-section__item
                    a.footer-section__link Скидки
                .footer-section__item
                    a.footer-section__link Материалы и уход за ними
                .footer-section__item
                    a.footer-section__link Размерная сетка
                .footer-section__item
                    a.footer-section__link Реквезиты
                .footer-section__item
                    a.footer-section__link Вакансии
        .page-footer__section.footer-section
            .footer-section__list
                .footer-section__item
                    a.footer-section__link Вконтакте
                .footer-section__item
                    a.footer-section__link Vimeo
                .footer-section__item
                    a.footer-section__link Instagram
                br
                .footer-section__item
                    a.footer-section__link Скачать логотип
        .page-footer__section.footer-section
            .footer-section__list
                .footer-section__item Нижний Новгород
                .footer-section__item Большая Покровская, 68
                .footer-section__item
                    a.footer-section__link +7 (831) 430-39-27
        .page-footer__section.footer-section
            .footer-section__list
                .footer-section__item www.kinkstore.ru
                .footer-section__item Основан в 2010 году
        .page-footer__section.footer-section

