<footer class="page-footer">
    <div class="page-footer__sections">
        <div class="page-footer__section footer-section">
            <div class="footer-section__list">
                <div class="footer-section__item">
                    <a href="" class="footer-section__link">Каталог</a>
                </div>
                <div class="footer-section__item">
                    <a href="" class="footer-section__link">Блог</a>
                </div>
                <div class="footer-section__item">
                    <a href="" class="footer-section__link">Магазин</a>
                </div>
                <div class="footer-section__item">
                    <a href="" class="footer-section__link">Информация</a>
                </div>
                <div class="footer-section__item">
                    <a href="" class="footer-section__link">Контакты</a>
                </div>
            </div>
            <svg class="icon footer-section__nike-partner" style="fill: #fff" width="200" height="37" viewBox="0 0 150 28">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#nike-online-partner"></use>
            </svg>
        </div>
        <div class="page-footer__section footer-section">
            <div class="footer-section__list">
                <div class="footer-section__item">
                    <a href="" class="footer-section__link">Доставка и оплата</a>
                </div>
                <div class="footer-section__item">
                    <a href="" class="footer-section__link">Обмен и возврат</a>
                </div>
                <div class="footer-section__item">
                    <a href="" class="footer-section__link">Подлинность товаров</a>
                </div>
                <div class="footer-section__item">
                    <a href="" class="footer-section__link">Скидки</a>
                </div>
                <div class="footer-section__item">
                    <a href="" class="footer-section__link">Материалы и уход за ними</a>
                </div>
                <div class="footer-section__item">
                    <a href="" class="footer-section__link">Размерная сетка</a>
                </div>
                <div class="footer-section__item">
                    <a href="" class="footer-section__link">Реквизиты</a>
                </div>
                <div class="footer-section__item">
                    <a href="" class="footer-section__link">Вакансии</a>
                </div>
            </div>
        </div>
        <div class="page-footer__section footer-section">
            <div class="footer-section__list">
                <div class="footer-section__item">
                    <a href="" class="footer-section__link">Вконтакте</a>
                </div>
                <div class="footer-section__item">
                    <a href="" class="footer-section__link">Vimeo</a>
                </div>
                <div class="footer-section__item">
                    <a href="" class="footer-section__link">Instagram</a>
                </div>
                <br />
                <div class="footer-section__item">
                    <a href="" class="footer-section__link">Скачать логотип</a>
                </div>
            </div>
        </div>
        <div class="page-footer__section footer-section">
            <div class="footer-section__list">
                <div class="footer-section__item">Нижний Новгород</div>
                <div class="footer-section__item">Большая Покровская, 68</div>
                <div class="footer-section__item">
                    <a href="" class="footer-section__link">+7 (831) 430-39-27</a>
                </div>
            </div>
        </div>
        <div class="page-footer__section footer-section">
            <div class="footer-section__list">
                <div class="footer-section__item">www.kinkstore.ru</div>
                <div class="footer-section__item">Основан в 2010 году</div>
            </div>
        </div>
        <div class="page-footer__section footer-section"></div>
    </div>
</footer>
